*{
    margin: 0;padding: 0;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
body{
    background-color: rgb(0, 0, 33);
    color: rgb(221, 224, 236);
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color:rgb(2, 2, 58) ;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #ffe8e8;
}

nav ul li a:hover{
    font-size: 18px;
    color: #11166c;
    
}

.left{
    font-size: 20px;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 80px 0px;
    text-align: center;

}

.firstsection > div{
    width: 30%;
    
    
}


.leftsection{
    /* width: 30px; */
    font-size: 3rem;
    

}
.rightsection img{
    height: 350px;
    width: 352px;
 
}
.purple{
    color: rgb(129, 0, 184);
}
.textgray{
    color: gray;
}
#element{
    color: rgb(117, 18, 174);
}
.secondsection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
   
}
main hr{
    border: 0;
    background-color: #565ddb;
    height: 1.2px;
    margin: 40px 84px;
}
.secondsection .box{
    background-color: white;
    width: 76vw;
    height: 2px;
    margin: 56px 0;
    display: flex;

}
.image-top{
    width: 53px;
    height: 50px;
    position: relative;
    top: -36px;
    left: -9px;
    border-radius: 250px;
    
}
.secondsection .box .vertical{
    height: 93px;
    width: 1px;
    background-color: wheat;
    margin: 0 100px;
}

.vertical-desc{
    position: relative;
    top: 85px;
    color: gainsboro;
    font-size: 9px;

}
#sss{
    padding: 20px;
    text-align: center;
}